body {
  background-color: lavender;
  color: violet;
  font-family: Arial, sans-serif;
}

.header {
  background-color: #800080; /* Dark Violet */
  color: #ffffff; /* White */
  padding: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: purple;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


.box {
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
  width: calc(33.33% - 20px);
  box-sizing: border-box;
  vertical-align: top;
}

.box:nth-child(1) {
  background-color: #800080; /* Dark Violet */
  color: #ffffff; /* White */
}

.box:nth-child(2) {
  background-color: #a35cc4; /* Medium Purple */
  color: #ffffff; /* White */
}

.box:nth-child(3) {
  background-color: #be93d1; /* Light Purple */
  color: #000000; /* Black */
}


@media screen and (max-width: 768px) {
  .box {
    width: 100%;
  }
}

.announcements {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

/* Rest of your CSS styles */

.contacts {
  text-align: center;
  margin-top: 50px;
  padding: 20px;
}

.contacts-content {
  background-color: #333333;
  color: white;
  padding: 20px;
}

